body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxv7MMHu5UCPdhvSeDIbOJ6k0xijxLBM1ITfyBA4VttyNKYn-sHyN4DPRQ&s=10);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    }
  .button1 {
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    padding: 20px 20px;
    color: white;
    font-size: 31px;
    font-weight: bold;
    font-family:serif;
    border: 2px solid white;
     }
 .button2 {
   background-color: transparent;
   border-radius: 5px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 52%;
   left: 50%;
   padding: 15px 72px;
   color: white;
   font-size: 35px;
   font-weight: bold;
   font-family: serif;
   border: 2px solid white;
    }
 .button3 {
   background-color: transparent;
   border-radius: 5px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 70%;
   left: 50%;
   padding: 10px 81px;
   color: white;
   font-size: 35px;
   font-weight: bold;
   font-family: serif;
   border: 2px solid white;
   }
 .button4 {
   background-color: transparent;
   border-radius: 5px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 86%;
   left: 50%;
   padding: 10px 40px;
   color: white;
   font-size: 35px;
   font-weight: bold;
   font-family: serif;
   border: 2px solid white;
      }
    button1:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left:50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #FF0072;
      z-index: -1;
       }
       button:hover, button:focus {
         color: lightgoldenrodyellow;
       }
       .box 
       {
         background-color: black;
         border: 2px solid lightblue;
         max-width: 400px;
         margin: auto;
         padding: 1rem;
         
         height: 80vh;
         display: flex;
         align-items: center;
         justify-content: center;
         
         position: absolute;
         right: 0;
         left: 0;
         top: 60%;
         bottom: 0;
         }
         a {
         text-decoration: none;
         font-family: serif;
         right: 0;
         left: 0%;
         top: -38%;
         bottom: 0;
         font-size: 20px;
         position: relative;
         color: blue;
         }
         img 
         {
         width: 50px;
         height: 50px;
         position: absolute;
         top: 92%;
         border-radius: 100%;
         }
         .a2 {
         position: absolute;
         top: 1%;
         left: 43%;  
      }
